[package]
name = "esp-openthread"
version = "0.1.0"
edition = "2021"

[dependencies]
esp-openthread-sys = { path = "../esp-openthread-sys" }
esp-hal = {version= "0.18.0", git = "https://github.com/esp-rs/esp-hal.git"}
esp-hal-procmacros = {version= "0.11.0", git = "https://github.com/esp-rs/esp-hal.git", features=["interrupt"]}
esp-ieee802154 = {version= "0.1.0", git = "https://github.com/esp-rs/esp-hal.git"}
log = "0.4.21"
critical-section = "1.1.1"
fugit = "0.3.7"
bitflags = "2.5.0"
heapless = "0.8.0"
no-std-net = "0.6.0"


[features]
esp32c6 = [ "esp-ieee802154/esp32c6", "esp-hal/esp32c6"]
esp32h2 = [ "esp-ieee802154/esp32h2", "esp-hal/esp32h2"]
