[target.riscv32imac-unknown-none-elf]
runner = "probe-rs run --chip esp32c6"

[build]
rustflags = [
  "-C", "link-arg=-Tlinkall.x",
  # Required to obtain backtraces (e.g. when using the "esp-backtrace" crate.)
  "-C", "force-frame-pointers",

  # needed by 802.15.4 TODO
  #"-C", "link-arg=-Trom_coexist.x",
  #"-C", "link-arg=-Trom_functions.x",
  #"-C", "link-arg=-Trom_phy.x",
]

target = "riscv32imac-unknown-none-elf"

[unstable]
build-std = ["core", "alloc"]
